@model DM.App.Library.Models.Tasks
@using DM.App.Library.Core

@{
    ViewBag.PageTitle = "Task Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.PageTitle</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

@{
    Model.FormState = Enums.FormStates.View;
    if (UILibSelector.GetUILibrary(this.Request).Library == UILibSelector.UILibs.Bootstrap)
    {
        @Html.Partial("~/Views/TasksGen/_EntityBtSp.cshtml", Model)
    }
    else
    {
        @Html.Partial("~/Views/TasksGen/_Entity.cshtml", Model)
    }
}
<script type="text/javascript">
        $(document).ready(function () {
            if (app != undefined) {
                app.Log("Task view Edit", "App");

                app.FormState = "View";
                // Postpone calling these functions due to timing issues with MetroUI.js
                app.SubscribeDefaultCallbacksForControllersInView();
                //app.CallManager.PushFunction(function () { app.Hierarchy.bindHierarchyData(); });
                //app.CallManager.PushFunction(function () { app.DynamicContent.prepareContent(); });
                //app.CallManager.PushFunction(function () { app.Lookup.prepareLookups(); });
                //app.CallManager.PushFunction(function () { app.PopUpSearch.prepareSearch(); });
            }
        });

</script>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Task_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
